{% extends "loremipsum/base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p><strong>Author:</strong> {{ article.author }}</p>
    <p><strong>Created:</strong> {{ article.created }}</p>
    <p><strong>Synopsis:</strong> {{ article.synopsis }}</p>
    <hr>
    <div>
        {{ article.content|linebreaks }}
    </div>
    
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'favourite_create' %}">
        {% csrf_token %}
        <input type="hidden" name="article" value="{{ article.id }}">
        <input type="submit" value="Add to favourite">
    </form>
    {% endif %}
{% endblock %}
