{% extends "loremipsum/base.html" %}
{% load humanize %}
{% load i18n %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block content %}
    <h1>{% trans "Articles" %}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "Synopsis" %}</th>
                <th>{% trans "Detail" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.author }}</td>
                <td>{{ article.created|naturaltime }}</td>
                <td>{{ article.synopsis|truncatechars:20 }}</td>
                <td><a href="{% url 'detail' article.pk %}">{% trans "View" %}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
