{% extends "loremipsum/base.html" %}

{% block title %}My Publications{% endblock %}

{% block content %}
    <h1>My Publications</h1>
    <p><a href="{% url 'publish' %}">Publish new article</a></p>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Synopsis</th>
                <th>Created</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.synopsis }}</td>
                <td>{{ article.created }}</td>
                <td><a href="{% url 'detail' article.pk %}">View</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No publications found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
