{% extends "loremipsum/base.html" %}
{% load i18n %}

{% block title %}{% trans "My Publications" %}{% endblock %}

{% block content %}
    <h1>{% trans "My Publications" %}</h1>
    <p><a href="{% url 'publish' %}">{% trans "Publish new article" %}</a></p>
    <table border="1">
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Synopsis" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "Detail" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.synopsis }}</td>
                <td>{{ article.created }}</td>
                <td><a href="{% url 'detail' article.pk %}">{% trans "View" %}</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">{% trans "No publications found." %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
