<!DOCTYPE html>
<html>
<head>
    <title>Ex09 Display</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Homeworld</th>
                <th>Climate</th>
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.homeworld.name }}</td>
                <td>{{ person.homeworld.climate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
