services:
  db:
    image: postgres:16
    container_name: formationdjango_db
    environment:
      POSTGRES_DB: formationdjango
      POSTGRES_USER: djangouser
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
